body {
  background: #20262e;
  padding: 20px;
  font-family: Helvetica;
}

.App {
  text-align: center;
  border-radius: 4px;
  padding: 20px;
  transition: all 0.2s;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

.dark-theme {
  background-color: #000;
  color: #fff;
}
